* {
    background-color: #272b30;
    color: #717a73;
    font-family: 'Monospaced', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

button {
    background-color: #8998ab;
    border-radius: 1rem;
    color: #4f5863;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Monospaced', sans-serif;
    padding: 5px;
    margin-top: 1rem;
}

button:hover {
    background-color: #4f5863;
    color: #8998ab;
}

.flex-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
    align-items: center;
}

.titleHeader {
    margin-top: 1rem;
    margin-bottom: 2rem;
    float: top;
    font-size: 1.5rem;
}

input, select {
    width: 10rem;
    padding: 3px;
    color: white;
    font-size: 0.7rem;
    border-radius: 5px;
    margin-top: 5px;
}

.leftContainer {
    border: 1px solid white;
    border-radius: 2rem;
    box-shadow: 5px 7px;
    float: left;
    width: 22rem;
    min-width: 22rem;
    height: 20rem;
    min-height: 20rem;
    margin-right: 1rem;
    padding: 1rem;
}

.rightContainer {
    border: 1px solid white;
    border-radius: 2rem;
    box-shadow: 5px 7px;
    float: left;
    width: 40rem;
    min-width: 40rem;
    height: 20rem;
    min-height: 20rem;
    margin-left: 1rem;
    padding: 1rem;
    overflow: auto;
}

.processSpan {
    display: inline-block;
    width: 8.5rem;
    margin-top: 2px;
    font-size: 0.9rem;
}

#btn-reset {
    float: left;
    margin-left: 2rem;
    width: 6rem;
}

#btn-submit {
    float: right;
    margin-right: 2rem;
    width: 6rem;
}

#btn-netplan {
    width: 10rem;
    margin: 1rem 5rem;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-style: hidden;
    margin: 0 auto;
    width: 90%;
    font-size: 0.9rem;
}

td, th {
    border: 1px solid #4f5863;
    word-wrap: break-word;
    text-align: left;
}

.table-nr {
    width: 2.5rem;
}

.table-description {
    width: 12rem;
}

.table-duration {
    width: 8rem;
}

.table-predecessor {
    width: 5rem;
}