<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knot Input Form</title>

    <link rel="stylesheet" href="homestyle.css">

</head>
<body>

<div class="titleHeader">
    <h1>Net Plan Designer</h1>
</div>

<div id="nav">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>Netzplan
                <ul>
                    <li><a href="/input">Input</a></li>
                    <li><a href="/table">Overview</a></li>
                    <li><a href="https://de.wikipedia.org/wiki/Netzplantechnik">Netzplan-Wiki</a></li>
                </ul>
            </li>
            <li>Web Design
                <ul>
                    <li><a href="https://codepen.io/">Codepen - Online Editor</a></li>
                    <li>Tutorials
                        <ul>
                            <li>HTML
                                <ul>
                                    <li><a href="https://wiki.selfhtml.org/">SelfHTML</a></li>
                                </ul>
                            </li>
                            <li>CSS
                                <ul>
                                    <li>
                                        <a href="https://developer.mozilla.org/de/docs/Learn/Getting_started_with_the_web/CSS_basics">CSS
                                            Wikipedia</a></li>
                                    <li><a href="https://www.w3schools.com/css/">WC3schools</a></li>
                                </ul>
                            </li>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>

<div class="flex-box">

    <div class="content">
        <p>
            Under construction!
        </p>
    </div>


</div>

</body>
</html>