<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knot Input Form</title>

    <link rel="stylesheet" href="knotInputForm.css">

</head>
<body>

<div class="container">
    <div class="title">
        <h1>Net Plan Designer</h1>
    </div>

    <form method="post" action="input" th:object="${knotInputForm}">
        <div class="process">
            <div class="processInput">
                <div>
                    <label for="operationNumber">Nr.</label>
                    <input id="operationNumber" type="number" placeholder="1" readonly th:value="${operationNumber}">
                </div>

                <div>
                    <label for="operationDescription">Bezeichnung*</label>
                    <input id="operationDescription" type="text" th:field="*{operationDescription}">
                </div>

                <div>
                    <label for="durationInMinutes">Dauer (Minuten)*</label>
                    <input id="durationInMinutes" type="number" th:field="*{durationInMinutes}">
                </div>

                <div>
                    <label for="predecessorOneListIndex">Vorgänger 1</label>
                    <select id="predecessorOneListIndex" th:field="*{predecessorOneListIndex}">
                        <option value=""></option>
                        <option th:each="knot : ${knotInputFormList}"
                                th:value="${knotInputFormList.indexOf(knot)}"
                                th:text="${(knotInputFormList.indexOf(knot)) + ' (' + knot.operationDescription + ')'}"></option>
                    </select>
                </div>

                <div>
                    <label for="predecessorTwoListIndex">Vorgänger 2</label>
                    <select id="predecessorTwoListIndex" th:field="*{predecessorTwoListIndex}">
                        <option value=""></option>
                        <option th:each="knot : ${knotInputFormList}"
                                th:value="${knotInputFormList.indexOf(knot)}"
                                th:text="${(knotInputFormList.indexOf(knot) + 1) + ' (' + knot.operationDescription + ')'}"></option>
                    </select>
                </div>

                <div>
                    <label for="predecessorThreeListIndex">Vorgänger 3</label>
                    <select id="predecessorThreeListIndex" th:field="*{predecessorThreeListIndex}">
                        <option value=""></option>
                        <option th:each="knot : ${knotInputFormList}"
                                th:value="${knotInputFormList.indexOf(knot)}"
                                th:text="${(knotInputFormList.indexOf(knot) + 1) + ' (' + knot.operationDescription + ')'}"></option>
                    </select>
                </div>
            </div>

            <div>
                <button id="reset-button" type="reset">Löschen</button>
                <button id="submit-button" type="submit">Speichern</button>
                <br>
                <button id="netPlan-button">Netzplan erstellen</button>
            </div>

        </div>

        <div class="table">
            <table>
                <thead>
                <tr>
                    <th class="tableNumber">Nr.</th>
                    <th class="tableDescriptionHead">Bezeichnung</th>
                    <th class="tablePredecessor">Dauer (Minuten)</th>
                    <th class="tablePredecessor">Vorgänger 1</th>
                    <th class="tablePredecessor">Vorgänger 2</th>
                    <th class="tablePredecessor">Vorgänger 3</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="tableNumber">1</td>
                    <td class="tableDescription">Test</td>
                    <td class="tablePredecessor">1</td>
                    <td class="tablePredecessor">0</td>
                    <td class="tablePredecessor">0</td>
                    <td class="tablePredecessor">0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

    <div class="footer">
        <button type="button" onclick="location.href='http://localhost:8080'">Home</button>
    </div>
</div>

</body>
</html>