<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knot Input Form</title>

    <link rel="stylesheet" href="knotInputForm.css">

</head>
<body>

<div class="flex-box">
    <div class="titleHeader">
        <h1>Net Plan Designer</h1>
    </div>

    <form method="post" action="input" th:object="${knotInputForm}">

        <div class="leftContainer">
            <div>
                <span class="processSpan" id="operationNumber">Nr.</span>
                <input type="text" readonly th:field="*{operationNumber}">
            </div>

            <div>
                <span class="processSpan" id="operationDescription">Bezeichnung*</span>
                <input type="text" required th:field="*{operationDescription}">
            </div>

            <div>
                <span class="processSpan" id="duration">Dauer (Minuten)</span>
                <input type="number" th:field="*{durationInMinutes}">
            </div>

            <div>
                <span class="processSpan" id="V1">Vorgänger 1</span>
                <select id="predecessorOneListIndex" th:field="*{predecessorOneListIndex}">
                    <option value=""></option>
                    <option th:each="knot : ${knotInputFormList}"
                            th:value="${knotInputFormList.indexOf(knot)}"
                            th:text="${(knotInputFormList.indexOf(knot) + 1) + ' (' + knot.operationDescription + ')'}"></option>
                </select>
            </div>

            <div>
                <span class="processSpan" id="V2">Vorgänger 2</span>
                <select id="predecessorTwoListIndex" th:field="*{predecessorTwoListIndex}">
                    <option value=""></option>
                    <option th:each="knot : ${knotInputFormList}"
                            th:value="${knotInputFormList.indexOf(knot)}"
                            th:text="${(knotInputFormList.indexOf(knot) + 1) + ' (' + knot.operationDescription + ')'}"></option>
                </select>
            </div>

            <div>
                <span class="processSpan" id="V3">Vorgänger 3</span>
                <select id="predecessorThreeListIndex" th:field="*{predecessorThreeListIndex}">
                    <option value=""></option>
                    <option th:each="knot : ${knotInputFormList}"
                            th:value="${knotInputFormList.indexOf(knot)}"
                            th:text="${(knotInputFormList.indexOf(knot) + 1) + ' (' + knot.operationDescription + ')'}"></option>
                </select>
            </div>

            <div>
                <button id="btn-reset" type="reset">Reset</button>
                <button id="btn-submit" type="submit">Speichern</button>
            </div>

            <div>
                <button id="btn-netplan" onclick="location.href='http://localhost:8080/table'">Netzplan erstellen</button>
            </div>
        </div>

        <div class="rightContainer">
            <div>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th class="table-nr">#</th>
                            <th class="table-description">Bezeichnung</th>
                            <th class="table-duration">Dauer (Minuten)</th>
                            <th class="table-predecessor">Vorgänger</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="knot : ${knotInputFormList}">
                            <th class="table-nr" th:text="${knotInputFormList.indexOf(knot) + 1}"></th>
                            <td class="table-description" th:text="${knot.getOperationDescription}"></td>
                            <td class="table-duration" th:text="${knot.getDurationInMinutes}"></td>
                            <td class="table-predecessor">
                                <span class="tablePredecessor"
                                      th:if="${knot.getPredecessorOneListIndex != null}"
                                      th:text="${knot.getPredecessorOneListIndex + 1}"></span>
                                <span class="tablePredecessor"
                                      th:if="${knot.getPredecessorTwoListIndex != null}"
                                      th:text="', ' + ${knot.getPredecessorTwoListIndex + 1}"></span>
                                <span class="tablePredecessor"
                                      th:if="${knot.getPredecessorThreeListIndex != null}"
                                      th:text="', ' + ${knot.getPredecessorThreeListIndex + 1}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<!--<div class="footer">-->
<!--    <button type="button" onclick="location.href='http://localhost:8080'">Home</button>-->
<!--</div>-->

</body>
</html>