<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Output Table</title>

    <link rel="stylesheet" href="output.css">

</head>
<body>

<div class="titleHeader">
    <h1>Net Plan Designer</h1>
</div>

<div id="nav">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>Netzplan
                <ul>
                    <li><a href="/input">Input</a></li>
                    <li><a href="/table">Overview</a></li>
                    <li><a href="https://de.wikipedia.org/wiki/Netzplantechnik">Netzplan-Wiki</a></li>
                </ul>
            </li>
            <li>Web Design
                <ul>
                    <li><a href="https://codepen.io/">Codepen - Online Editor</a></li>
                    <li>Tutorials
                        <ul>
                            <li>HTML
                                <ul>
                                    <li><a href="https://wiki.selfhtml.org/">SelfHTML</a></li>
                                </ul>
                            </li>
                            <li>CSS
                                <ul>
                                    <li>
                                        <a href="https://developer.mozilla.org/de/docs/Learn/Getting_started_with_the_web/CSS_basics">CSS
                                            Wikipedia</a></li>
                                    <li><a href="https://www.w3schools.com/css/">WC3schools</a></li>
                                </ul>
                            </li>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>

<div class="total-duration">
    <span>Gesamtdauer: <span th:text="${knots.get(knots.size() - 1).getEarliestEnd()} + ' Minuten'"></span></span>
</div>

<div class="output-table">
    <table>
        <thead>
        <tr>
            <th class="table-nr">#</th>
            <th class="table-description">Bezeichnung</th>
            <th class="table-duration">Dauer (Minuten)</th>
            <th class="table-predecessor">Vorgänger</th>
            <th class="table-predecessor">Nachfolger</th>
            <th class="table-buffer">freier Puffer</th>
            <th class="table-buffer">Gesamtpuffer</th>
            <th class="table-duration">frühester Start</th>
            <th class="table-duration">frühestes Ende</th>
            <th class="table-duration">spätester Start</th>
            <th class="table-duration">spätestes Ende</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="knot : ${knots}">
            <th class="table-nr" th:text="${knot.getOperationNumber}"></th>
            <td class="table-description" th:text="${knot.getOperationDescription}"></td>
            <td class="table-duration" th:text="${knot.getDurationInMinutes}"></td>
            <td><span th:each="predecessor : ${knot.getPredecessor}"
                      th:text="${knots.indexOf(predecessor) + 1} + ' '"></span></td>
            <td><span th:each="successor : ${knot.getSuccessor}" th:text="${knots.indexOf(successor) + 1} + ' '"></span>
            </td>
            <td class="table-predecessor" th:text="${knot.getFreeBuffer}">
            <td class="table-predecessor" th:text="${knot.getTotalBuffer}">
            <td class="table-predecessor" th:text="${knot.getEarliestStart}">
            <td class="table-predecessor" th:text="${knot.getEarliestEnd}">
            <td class="table-predecessor" th:text="${knot.getLatestStart}">
            <td class="table-predecessor" th:text="${knot.getLatestEnd}">
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>